name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # important for setuptools-scm + tags

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]" # || pip install -e .

      - name: Run unit tests
        run: |
          python -m pytest tests/UnitTests -v --tb=short

      - name: Run smoke tests
        run: |
          python -m tests.Smoke.run_all_smoke
